 {% extends "base.html" %}
 {% block content %}

 <table>
     <col width="70%">
     <col width="30%">
   <tr>
    <th>
      <span style="font-weight:normal">{{deck.owner.username}}'s</span>
 <h2>{{deck.deck_name}}</h2>
     {% for card in cards %}
      <li>
       <a href="{% url 'builder:detail' card.card_id %}" style="text-decoration: none">
        {{card.name}}
       </a>
          {% if userid%}
          {% if userid == deck.owner.id%}
       -
       <a href="{% url 'builder:delete_card' card.id %}" style="text-decoration: none; font-weight:normal;" >
        ☠
       </a>
          {% endif%}
          {% endif%}
      </li>
     {% endfor %}
     <br><br><br><br><br>



    </th>
    <th>

          {% if userid == deck.owner.id%}
          <a href="{% url 'builder:delete_deck' deck.id %}"><button class="btn">Delete deck</button></a><br><br>

        <br><br>

        {%else%}

            {% endif%}
        {% if userid%}

           <a href="{% url 'builder:new_comment' deck.id %}"><button class="btn">Add comment</button></a><br><br>
               {%else%}
        Login to add comment<br><br><br>
{%endif%}
        {%if comments%}
        Comments:<br><br><br>
    {% for comment in comments%}
        <span style="font-weight:normal;">
            {% if comment.to_deck == deck %}
            {{comment.author}}
            : <br>
            <strong>{{comment.title}}</strong><br>{{comment.text}}</span><br><br><br>
        {% endif %}
    {% endfor%}
        {%endif%}
    </th>
   </tr>
 </table>
 {% endblock %}

