 {% extends "base.html" %}
 {% block content %}

 {% if decks %}
 <h3>{{player.username}}</h3>
 <span style="font-weight:normal">

     <br><br>
     Those are {{player.username}}'s decks:
     <br><br>
 </span>
 <table>
     <tr>
         <th>
             {% for deck in decks %}
             <li>
                 <a href="{% url 'builder:deck' deck.id %}" style="text-decoration: none">
                     <strong>{{deck.deck_name}}</strong>
                 </a>
                 {% if deck.owner.id == playerid %}
                 -
                 <a href="{% url 'builder:delete_deck' deck.id %}" style="text-decoration: none" >
                     <span style="font-weight:normal">
                         ☠
                     </span>
                 </a>
                 {% endif %}
             </li>
             {% endfor %}
         </th>
     </tr>
 </table>

{% else %}
 {{player.username}} doesn't have any decks yet.
 {% endif %}
 {% endblock %}

