<html>
  <body style="width: 98%; height: 100%; background-color:161616;"
  text=F6F6F6 link="A6A6A6" vlink="666666" alink="FFFFFF">
    <div>
        <table style="width:100%">
            <col width="20%">
            <col width="80%">
            <tr>
                <th colspan="2">

                    <a href="{% url 'builder:index'%}">
                        <h1> not DECKBUILDER yet </h1>
                    </a>
                    <h3> Magic: The Gathering </h3>
                </th>
            </tr>
            <tr>
                <th style="vertical-align: top;">
                    <br>
                    <br>
                    <a href="/search">
                        <button>Search cards</button>
                    </a>
                    <br>
                    <br>
                    <a href="/decks">
                    <button type="submit">View decks</button>
                    </a>
                </th>
                <th style="vertical-align: middle;">
                    {% block content %}

                    {% endblock %}
                </th>
            </tr>
        </table>
    </div>
  </body>
</html>
