 {% extends "base.html" %}
 {% block content %}

 <table>
     <col width="70%">
     <col width="30%">
   <tr>
    <th>
      <span style="font-weight:normal">{{deck.owner.username}}'s</span>
 <h2>{{deck.deck_name}}</h2>
     {% for card in cards %}
      <li>
       <a href="{% url 'builder:detail' card.card_id %}" style="text-decoration: none">
        {{card.name}}
       </a>
          {% if userid%}
          {% if userid == deck.owner.id%}
       -
       <a href="{% url 'builder:delete_card' card.id %}" style="text-decoration: none; font-weight:normal;" >
        ☠
       </a>
          {% endif%}
          {% endif%}
      </li>
     {% endfor %}
     <br><br><br><br><br>

          {% if userid%}
          {% if userid == deck.owner.id%}
       <span style="font-weight:normal;">delete deck</span>
       <a href="{% url 'builder:delete_deck' deck.id %}" style="text-decoration: none" >
     <span style="font-weight:normal;">
      <h1>☠</h1>
     </span>
            {% endif%}
          {% endif%}
      </a>
    </th>
    <th>
        Comments:<br><br><br>
    {% for comment in comments%}
        <span style="font-weight:normal;">
            {{comment.author}}
            : <br>{{comment.text}}</span>
    {% endfor%}
    </th>
   </tr>
 </table>
 {% endblock %}

