 {% extends "base.html" %}
 {% block content %}
Deck no. {{deck.id}}, {{deck.deck_name}}<br><br>
 <table>
  <tr>
   <th>
     {% for card in deck.cards.all %}
        <li>
         <a href="{% url 'builder:detail' card.card_id %}" style="text-decoration: none">{{card.name}}</a>
          -
         <a href="{% url 'builder:delete_card' card.id %}" style="text-decoration: none" ><span style="font-weight:normal">☠</span></a>
        </li>
    {% endfor %}

   </th>
  </tr>
 </table>

 {% endblock %}

